<!-- Toast s'affichant en haut à droite après une action -->
<p-toast></p-toast>

<!-- Fenêtre de dialogue permettant de confirmer une action -->
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


<p-dataView #dv [value]="games" [paginator]="true" [rows]="9" filterBy="nom" [sortField]="sortField"
  [sortOrder]="sortOrder" layout="grid" [style]="{width: '100%'}" [emptyMessage]="'Aucun jeu trouvé'">
  <ng-template pTemplate="header">
    <div class="flex flex-column md:flex-row md:justify-content-between">
      <span>
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
          (click)="newGame()"></button>
        <span class="p-input-icon-left mb-2 md:mb-0">
          <i class="pi pi-search"></i>
          <input type="search" pInputText placeholder="Chercher par nom" (input)="dv.filter($any($event.target).value)">
        </span>
      </span>
      <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Trier de ..."
        (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0"></p-dropdown>
      <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    </div>
  </ng-template>
  <ng-template let-game pTemplate="listItem">
    <app-line [game]="game" (gameDelete)="deleteGame($event)" (gameUpdate)="saveGame($event)"
      (editGame)="editGame($event)" (deleteGame)="deleteGame($event)" (seeGame)="seeGame($event)"
      [style]="{width: '100%'}"></app-line>
  </ng-template>
  <ng-template let-game pTemplate="gridItem">
    <app-carte [game]="game" (gameDelete)="deleteGame($event)" (gameUpdate)="saveGame($event)"
      (editGame)="editGame($event)" (deleteGame)="deleteGame($event)" (seeGame)="seeGame($event)"></app-carte>
  </ng-template>
</p-dataView>

<app-dialog-game #dialog [game]="game" (save)="saveGame($event)" class="dialogEditandNew">
</app-dialog-game>

<app-dialog-game-readonly #dialogRO [game]="game"></app-dialog-game-readonly>
