:host ::ng-deep .p-dataview-content {
  .grid {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 900px) {
  :host ::ng-deep .dialogEditandNew .p-dialog {
    width: 95% !important;
  }
}

:host ::ng-deep .dialogEditandNew .p-dialog-content {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}
