.container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  .game-grid-item-top,
  .game-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .game-score {
      font-weight: 600;
      vertical-align: middle;
    }
    .iconFavoris {
      color: rgb(247, 211, 8);
      font-size: 1.5rem;
    }
  }
  .game-grid-item-content {
    text-align: center;
    img {
      width: 65%;
      height: 20rem;
      object-fit: cover;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin: 0.5rem 0;
    }
    .game-name {
      font-size: 1.5rem;
      font-weight: 700;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 4.5rem;
      -webkit-justify-content: center;
    }
    .game-plateforme {
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      min-height: 4.5rem;
      align-items: center;
      .p-chip {
        line-height: 1.2;
      }
    }
  }
}
