/* You can add global styles to this file, and also import other style files */

body {
  background-color: var(--surface-ground);
  margin: 2rem;
}

@import "primeng/resources/primeng.min.css";
@import "primeng/resources/themes/vela-blue/theme.css";
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

/*
primeng/resources/themes/bootstrap4-light-blue/theme.css
primeng/resources/themes/md-light-indigo/theme.css
primeng/resources/themes/mdc-light-indigo/theme.css
primeng/resources/themes/tailwind-light/theme.css
primeng/resources/themes/fluent-light/theme.css
primeng/resources/themes/lara-light-indigo/theme.css
primeng/resources/themes/saga-blue/theme.css
primeng/resources/themes/vela-blue/theme.css
primeng/resources/themes/arya-blue/theme.css
primeng/resources/themes/nova/theme.css
primeng/resources/themes/luna-amber/theme.css
primeng/resources/themes/rhea/theme.css
*/
