<p-dialog [(visible)]="open" [style]="{maxWidth: '75%'}" header="Détails d'un jeu" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="content-header">
      <div class="container">
        <p-image [src]="formatGame.getMiniature(game)" alt="Image" width="250" [preview]="true"></p-image>
        <div class="infos">
          <i [class]="(game.favoris ? 'pi pi-star-fill' : '')+' iconFavoris'"></i>
          <p-badge [value]="game.status || 'Pas de status'"></p-badge>
          <div class="nom">{{game.nom}}</div>
          <span>{{game.note ? game.note+" / 10" : "Non noté"}}</span>
          <div class="chips">
            <p-chip *ngFor="let plateforme of game.plateforme" [label]="plateforme" icon="pi pi-desktop"></p-chip>
            <p-chip *ngFor="let support of game.support" [label]="support" icon="fa fa-compact-disc"></p-chip>
          </div>
          <p-scrollPanel *ngIf="game.commentaire" [style]="{width: '100%', height: '200px'}">
            <p [innerHtml]="formatGameCommentaire()"></p>
          </p-scrollPanel>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Ok" icon="pi pi-check" class="p-button-text" (click)="open = false"></button>
  </ng-template>
</p-dialog>
