:host ::ng-deep {
  .content-header {
    img {
      border-radius: 0.5rem;
      object-fit: cover;
      height: 25rem;
      width: 17rem;
    }
  }
}

.content-header {
  .container {
    display: flex;
    gap: 1rem;
    .infos {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .iconFavoris {
        color: rgb(247, 211, 8);
        font-size: 1.5rem;
      }
      .nom {
        font-size: 1.5rem;
        font-weight: 700;
      }
      .score {
        font-weight: 600;
      }
      .chips {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
      }
      textarea {
        opacity: 1;
      }
    }
  }
}
